@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @apply font-poppins;
    }
    .active {
        color: #654A9B !important;
    }

    .active:hover {
        color : #B9B0E4 !important;
    }

    .btn {
        background: #654A9B;
        font-size: 15px;
        padding: 15px 32px;
        border-radius: 5px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        transition: all 0.5s ease; 
    }

    .btn:hover {
        background: #5b438c;
    }
}